
// @media (max-width: 1200px) {
//     main{
//         .content{
//             flex-direction: column;
//         }
//     }
//   }
  
  /* Media query na telefony */
  @media (max-width: 850px) {
    main{
        .content{
            flex-direction: column;
            .divider{
                width: 100%;
                height: 1px;
                &::after{
                background: linear-gradient(to left, rgb(27, 253, 156, 0.2) 0%, rgb(27, 253, 156) 50%,rgb(27, 253, 156, 0.2) 100%);;
                }
            }
        }
    }
  }
  
  /* Media query na bardzo małe ekrany */
  @media (max-width: 480px) {
    main{
        .content{
            flex-direction: column;
            .divider{
                width: 100%;
                height: 1px;
            }
        }
    }
  }