@media (max-width: 1200px) {
    .main-grid-container {
      grid-template-columns: repeat(8, 1fr); 
      padding: 0 2rem;
    }
  }
  
  /* Media query na telefony */
  @media (max-width: 850px) {
    .main-grid-container {
      grid-template-columns: repeat(4, 1fr); /* 4 kolumny na telefony */
    }
  }
  
  /* Media query na bardzo małe ekrany */
  @media (max-width: 480px) {
    .main-grid-container {
      grid-template-columns: repeat(2, 1fr); /* 2 kolumny na bardzo małe ekrany */
    }
  }